.header {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #d30401;
  color: white;
  padding: 0px 20px;
  font-size: 18px;
  a {
    color: white;
    &:hover {
      color: black;
    }
  }
  .container {
    max-width: 1140px;
    margin: auto;
    .header_wrapper {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        height: 60px;
        width: 350px;
        position: relative;
        background-color: white;
        border-radius: 20px;

        img {
          padding: 10px 20px;
        }
      }
      nav {
        ul {
          list-style: none;
          display: flex;
          gap: 25px;
        }
      }
    }
  }
}
